.chattinggif {
    background-image: url('../images/project/gifsc.gif');
    background-repeat:repeat;
}

.joininggif {
    background-image: url('../images/project/gifsc.gif');
    background-repeat:repeat;
}
